nav {
    /* 레이아웃에 대한 스타일(5~10줄) */
    display: flex;
    align-items: center;

    padding-left: 50px;
    padding-right: 120px;

    gap: 40px;
    height: 100px;
}

.navItem {
    color: #403930;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}


div {
    text-transform: capitalize;
}

.badge {
    /* 레이아웃 속성 */ 
    /* display: flex; */
    padding: 12px 24px;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 10px;
    background: #E6EEFF;
    width: fit-content;

    /* 텍스트 속성 */ 
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

}

header h1 {
    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;

}

header h1 b {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
}

.headerLinkContainer {
    display: flex;
    gap: 16px;
    /* flex-direction: row; */
}

.headerLink {
    /* background-color: ; */
    padding: 10px;
    display: flex;
    text-decoration: none;

    width: 270px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blackBtn {
    display: flex;
    width: 200px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    background: #000;

    /* 텍스트 속성*/
    color: #E6EEFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.whiteBtn {
    display: flex;
    width: 200px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    border: 4px solid #403930;

    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.headerContainer {
    display: flex;
    padding: 100px 50px;
    flex-direction: column;
    gap: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355.624px;
    flex-shrink: 0;
    margin-right: 120px;
}

.profileImg {
    border-radius: 160px;
    width: 320px;
    flex-shrink: 0;
    border: 10px solid #BCF2F9;
    background: url(/day1/images/me.jpeg), lightgray 50% / cover no-repeat;
}

.introduceContainer {
    display: flex;
    padding: 100px 50px;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.introduce1 {
    color: #000;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
    
}

.introduce2 {
    flex-shrink: 0;
    align-self: stretch;
    color: #333;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.techStackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.techStackTitle {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
}

.techStackText {
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.techStackContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.logo {
    width: 100px;
    height: 100px;
}

.projectsContainer {
    display: flex;
    padding: 80px 50px 120px 50px;

    background: rgba(244, 244, 244, 0.50);
}

.projectHeader {
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.profileTitle {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.project {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;

    border-radius: 16px;
    background-color: #E6EEFF;
}

.projectText {
    color: #403930;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.projectContainer {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 40px;
    align-self: stretch;
    justify-content: center;
}

.projectImgContainer {
    height: 300px;
    flex-shrink: 0;

    border-radius: 24px;
    background: #FFF;
    align-items: center;
    margin-left: 260px;

}

.projectImgContainer img{
    height: 100%;
    object-fit: cover;
}


.feedbackContainer {
    display: flex;
    width: 100%;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackContainer h2 {
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.feedback {
    display: flex;
    width: 30%;
    padding: 10px 39px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.feedback p {
    color: #403930;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.feedback h5 {
    color: #403930;
    text-align: center;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

.feedbacks {
    display: flex;
    flex-direction: row;
    gap: 40px;

    padding: 50px;

}