.responsive_mainResponsive___uG64 {
    width: 1728px;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 1919px) {
    .responsive_mainResponsive___uG64 {
        width:1376px
    }
}

@media screen and (max-width: 1440px) {
    .responsive_mainResponsive___uG64 {
        width:1024px
    }
}

@media screen and (max-width: 1056px) {
    .responsive_mainResponsive___uG64 {
        width:100%
    }
}

.responsive_mainHeaderResponsive__S6XhY {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto
}

@media screen and (max-width: 1056px) {
    .responsive_mainHeaderResponsive__S6XhY {
        padding-left:16px;
        padding-right: 16px
    }
}

@media screen and (max-width: 375px) {
    .responsive_mainHeaderResponsive__S6XhY {
        padding-left:12px;
        padding-right: 12px
    }
}

.BasicLayout_block__6bmSl .BasicLayout_innerBlock__2L4C2 {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div > a {
    color: black;
    text-decoration: none;
}

.headerLogoBlock {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    font-size: 20px;
    font-family: Fira Mono, monospace;
    height: 100%;
    line-height: 10px;
    padding: 24px 10px;
}

.tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    user-select: none;
    gap: 20px;
}

.navItem {
    color: black;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
}

.navItem a svg {
    font-size: 24px;
    margin-right: 8px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,나눔고딕,Nanum Gothic,Noto Sans KR,Noto Sans CJK KR,arial,돋움,Dotum,Tahoma,Geneva,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

.articleTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.articleText{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
    word-wrap: break-word;
    font-size: .875rem;
    line-height: 1.5;
    color: var(--text2);
    margin: 0 0 1.5rem;
}

@media (max-width: 1024px) {
    .headWrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card-img-top {
    height: 10rem;
    object-fit: cover;
}

.card-body {
    height: 8rem;
}
