nav {
    /* 레이아웃에 대한 스타일(5~10줄) */
    display: flex;
    align-items: center;

    padding-left: 50px;
    padding-right: 120px;

    gap: 40px;
    height: 100px;
}

.navItem {
    color: #403930;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}


div {
    text-transform: capitalize;
}

.badge {
    /* 레이아웃 속성 */ 
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #E6EEFF;
    width: 100%;
    height: 100px;
    font-weight: 600;
}

header h1 {
    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;

}

header h1 b {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
}

.headerLinkContainer {
    display: flex;
    gap: 16px;
    /* flex-direction: row; */
}

.headerLink {
    /* background-color: ; */
    padding: 10px;
    display: flex;
    text-decoration: none;

    width: 200px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;

    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.blackBtn {
    background: #000;
    color: #E6EEFF;
}

.whiteBtn {
    border-radius: 16px;
    border: 4px solid #403930;
    color: #403930;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding: 100px 60px;
}

.profileImgContainer {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 355.624px;
    flex-shrink: 0;
}

.profileImg {
    border-radius: 160px;
    width: 320px;
    flex-shrink: 0;
    border: 10px solid #BCF2F9;
    background: lightgray 50% / cover no-repeat;
}

.introduceContainer {
    display: flex;
    padding: 100px 50px;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    font-family: Pretendard;
    font-style: normal;
}

.introduce1 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.introduce2 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.techStackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.techStackTitle {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
}

.techStackText {
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.techStackContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logoContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 80px;
	column-gap: 40px;
}
.logo {
    width: 100px;
    height: 100px;
}

.projectsContainer {
    display: flex;
    padding: 80px 50px 120px 50px;

    background: rgba(244, 244, 244, 0.50);
}

.projectHeader {
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.profileTitle {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.project {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-self: stretch;

    border-radius: 16px;
    background-color: #E6EEFF;
}

.projectText {
    color: #403930;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    white-space: nowrap;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    
}

.projectLink {
    display: flex;
    gap: 24px;
    color: #405BA1;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 40px;
    align-self: stretch;
    justify-content: center;
    width: 400px;
}

.projectImgContainer {
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: center;
    padding: 24px 48px;
}

.projectImgContainer div{
    display: flex;
    align-items: center;
}


.feedbackContainer {
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackContainer h2 {
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.feedbacks div {
    width: 240px;
    display: flex;
    padding: 20px 39px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.feedbacks > div > p {
    height: 100px;
    color: #403930;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.feedbacks > div > h5 {
    height: 10px;
    color: #403930;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

.feedbacks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px;

}

.say {
    display: flex;
    padding: 64px 0px;
    gap: 10px;
    background: #E6EEFF;
}

.say div {
    color: #403930;
    font-family: Pretendard;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 60px */
    letter-spacing: -0.96px;
    padding-left: 50px;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: keep-all; 
}

footer {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 53px 0px 99px 0px;
}

.sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer div img {
    width: 30px;
    height: 30px;
}

footer p {
    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    position: relative;
}
.contact {
    width: 165px;
    height: 88px;
    flex-shrink: 0;

    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 60px;
    top: 550px;
}

.contact div {
    text-align: center;
}

.contact div a {
    color: rgba(64, 57, 48, 0.80);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.container {
    color: #000;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 10px;
    text-align: center;
}

.animation > div > div {
    padding: 10px 5px;
    height: 50px;
    margin-bottom: 50px;
    display:inline-block;
}

main {
    font-family: Pretendard;
}
.animation div:first-child {
    animation: text-animation 8s infinite;
}

@keyframes text-animation {
    0% {margin-top: -2px;}
    10% {margin-top: -2px;}
    20% {margin-top: -103px;}
    30% {margin-top: -103px;}
    40% {margin-top: -213px;}
    60% {margin-top: -213px;}
    70% {margin-top: -103px;}
    80% {margin-top: -103px;}
    90% {margin-top: -2px;}
    100% {margin-top: -2px;}
}